@using MathGameCRUD.Data
@using Microsoft.EntityFrameworkCore
@layout EmptyLayout
@page "/home"

<h3>Welcome to the Math WebApp</h3>

<nav> 
		<a  href ="level1multiplication"> One Digit Multiplication </a> 
		<a  href="level2multiplication"> Two Digit Multiplication </a> 
        <a  href="level1division"> One Digit Division </a> 
        <a  href="level2division"> Two Digit Division </a> 
        <a  href="level1add"> One Digit Addition </a> 
        <a  href="level2add"> Two Digit Addition </a> 
        <a  href="level1sub"> One Digit Subtraction </a> 
        <a  href="level2sub"> Two Digit Subtraction </a> 
		
		<div class="animation start-home"></div>
		
</nav>

<img src="/Images/homePic.png"/>


<footer>Created By: Michel Jurado</footer>

@code {

}
